.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.searchBox {
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputBox {
  font-size: large;
  min-width: 50vw;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button.searchButton {
  font-size: xx-large;
  background: none;
  border: none;
  padding: 0 1rem 0 1rem;
}

button.searchButton:hover {
  animation: bounce 0.5s;
  cursor: pointer;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.anchor {
  color: rgb(var(--foreground-rgb));
}